---
title: Oops! Seite nicht gefunden
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Oops. Seite nicht gefunden,  <a href="{{ '/' | url }}">Zur Startseite</a>.</p>
</div>